# Secrets and Local Database
library_backend/.env
library_backend/db.sqlite3

# Python Virtual Environment and Cache
library_backend/venv/
**/__pycache__/
*.py[cod]

# Frontend Dependencies and Build files
library_frontend/node_modules/
library_frontend/dist/

# Editor Settings
**/.vscode/